__pycache__/
JP_6mon_model
.ipynb_checkpoints/

*events.out.tfevents*
myData/
myTrialData/
NeonateMRISeg/
NiftyNet/
checkpoint
*.data-00000-of-00001
*.index
*.pyc
data_Miccai2017_ISeg/
hdf5/
models/
logs/
inference*/
pretrain_model/
1mo_multiAtlas_tissue.zip
1mo_multiAtlas_tissue/
MacaqueSeg/
myPretrainData/
test/
InfantTissuePreTraining/
ModelCodes/MyModel_1.0/
